annotated-types==0.7.0
cached-property==1.5.2
certifi==2025.4.26
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.6
dnspython==2.7.0
et_xmlfile==2.0.0
expiringdict==1.2.1
greenlet==3.2.1
gTTS==2.2.3
idna==3.10
legacy-cgi==2.6.3
mailru-im-bot==0.0.21
monotonic==1.6
numpy==2.2.5
openpyxl==3.1.5
pandas==2.2.3
psycopg2-binary==2.9.10
pydantic==2.11.4
pydantic_core==2.33.2
pymongo==4.12.1
python-baseconv==1.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
requests==2.26.0
six==1.16.0
SQLAlchemy==2.0.40
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==1.26.7
